.main-btn {
  border-radius: 50px;
  background: $main-color;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
  padding: 7px 33px;
  width: fit-content;
  cursor: pointer;
  color: #fff !important;
  font-size: 14px;
  font-weight: 700;
  outline: 0;
  border: 2px solid $main-color;
  line-height: normal;
  transition: 300ms ease-in-out;
  &.xl {
    padding-left: 93px;
    padding-right: 93px;
  }
  &.white {
    background-color: #fff;
    border: 2px solid $main-color;
    color: $main-color !important;
  }
  &:hover {
    scale: 1.02;
  }
}

.dropdown-holder {
  position: relative;
  .menu {
    display: none;
    position: absolute;
    top: 25px;
    background-color: #fff;
    border-radius: 5px;
    z-index: 999;
    padding: 0;
    box-shadow: 0 0 3px #ddd;
    .dropdown-item {
      border-radius: 5px;
    }
  }
  &:hover {
    .menu {
      display: block;
    }
  }
}

.notification-holder {
  position: fixed;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 30px;
  border-radius: 10px;
  background-color: #d8edf8;
  border: 1px solid #64c9ff;
  font-weight: 600;
  transition: 300ms ease-in-out all;
  z-index: 99999;
  &.success {
    background-color: #ddf8d8;
    border: 1px solid #67ff64;
  }
  &.danger {
    background-color: #f8d8d8;
    border: 1px solid #ff6464;
  }
  &.active {
    bottom: 20px;
  }
}
